package {{packageBase}}.domain;

import jakarta.persistence.*;
import java.util.*;

@Entity
@Table(name = "{{table}}")
public class {{name}} {

  // ===== Campos simples =====
  {{#fields}}
  {{#isId}}
  @Id
  @GeneratedValue(strategy = GenerationType.IDENTITY)
  {{/isId}}
  @Column(name = "{{name}}"{{^nullable}}, nullable = false{{/nullable}}{{#unique}}, unique = true{{/unique}})
  private {{type}} {{name}};
  {{/fields}}

  // ===== Relaciones =====
  {{#manyToOne}}
  @ManyToOne
  @JoinColumn(name = "{{joinColumn}}")
  private {{target}} {{targetVar}};
  {{/manyToOne}}

  {{#oneToMany}}
  @OneToMany(mappedBy = "{{mappedBy}}")
  private List<{{target}}> {{targetVar}}s = new ArrayList<>();
  {{/oneToMany}}

  {{#oneToOneOwning}}
  @OneToOne
  @JoinColumn(name = "{{joinColumn}}")
  private {{target}} {{targetVar}};
  {{/oneToOneOwning}}

  {{#oneToOneInverse}}
  @OneToOne(mappedBy = "{{mappedBy}}")
  private {{target}} {{targetVar}};
  {{/oneToOneInverse}}

  {{#manyToManyOwning}}
  @ManyToMany
  @JoinTable(
      name = "{{joinTable}}",
      joinColumns = @JoinColumn(name = "{{thisJoin}}"),
      inverseJoinColumns = @JoinColumn(name = "{{otherJoin}}")
  )
  private List<{{target}}> {{targetVar}}s = new ArrayList<>();
  {{/manyToManyOwning}}

  {{#manyToManyInverse}}
  @ManyToMany(mappedBy = "{{mappedBy}}")
  private List<{{target}}> {{targetVar}}s = new ArrayList<>();
  {{/manyToManyInverse}}


  // ===== Getters & Setters =====
  {{#fields}}
  public {{type}} get{{Name}}() { return {{name}}; }
  public void set{{Name}}({{type}} {{name}}) { this.{{name}} = {{name}}; }
  {{/fields}}

  {{#manyToOne}}
  public {{target}} get{{targetVarCap}}() { return {{targetVar}}; }
  public void set{{targetVarCap}}({{target}} {{targetVar}}) { this.{{targetVar}} = {{targetVar}}; }
  {{/manyToOne}}

  {{#oneToMany}}
  public List<{{target}}> get{{targetVarCap}}s() { return {{targetVar}}s; }
  public void set{{targetVarCap}}s(List<{{target}}> {{targetVar}}s) { this.{{targetVar}}s = {{targetVar}}s; }
  {{/oneToMany}}

  {{#oneToOneOwning}}
  public {{target}} get{{targetVarCap}}() { return {{targetVar}}; }
  public void set{{targetVarCap}}({{target}} {{targetVar}}) { this.{{targetVar}} = {{targetVar}}; }
  {{/oneToOneOwning}}

  {{#oneToOneInverse}}
  public {{target}} get{{targetVarCap}}() { return {{targetVar}}; }
  public void set{{targetVarCap}}({{target}} {{targetVar}}) { this.{{targetVar}} = {{targetVar}}; }
  {{/oneToOneInverse}}

  {{#manyToManyOwning}}
  public List<{{target}}> get{{targetVarCap}}s() { return {{targetVar}}s; }
  public void set{{targetVarCap}}s(List<{{target}}> {{targetVar}}s) { this.{{targetVar}}s = {{targetVar}}s; }
  {{/manyToManyOwning}}

  {{#manyToManyInverse}}
  public List<{{target}}> get{{targetVarCap}}s() { return {{targetVar}}s; }
  public void set{{targetVarCap}}s(List<{{target}}> {{targetVar}}s) { this.{{targetVar}}s = {{targetVar}}s; }
  {{/manyToManyInverse}}

}
