package {{packageBase}}.repository;

import org.springframework.data.jpa.repository.JpaRepository;
import {{packageBase}}.domain.{{name}};

public interface {{name}}Repository extends JpaRepository<{{name}}, Long> { }
